/*
--------
TYPO
--------
*/

body {
    font-family: 'Roboto', sans-serif;
}

/*
--------
COMMON
--------
*/

a {
    text-decoration: none;
    color: currentColor;
}

/*
--------
HEADER
--------
*/

header .row {
    height: 4.375rem;
}

header .ms-logo .ms-logo-big {
    width: 7.5rem;
}

header .ms-logo .ms-logo-small {
    width: 3.125rem;
}



/*
--------
MAIN
--------
*/

/* Sidebar */

main .ms-sidebar {
    padding: 1.875rem .625rem 1.875rem;
}

main .ms-sidebar .ms-sidebar-menu {
    list-style-type: none;
    padding: 0;
}




.ms-container-big {
    height: calc(100vh - 4.375rem);
}

.ms-sidebar {
    /* width: 20%; */
    background-color: red;
    height: 100%;
}

.ms-main-content {
    flex-grow: 1; 
    background-color: aquamarine;
    height: 100%;
}