/*
--------
HEADER
--------
*/

header {
    height: 4.375rem;
}

.ms-container-big {
    height: calc(100vh - 4.375rem);
}

.ms-sidebar {
    width: 20%;
    background-color: red;
    height: 100%;
}

.ms-main-content {
    flex-grow: 1; 
    background-color: aquamarine;
    height: 100%;
}