/*
--------
TYPO
--------
*/

body {
    font-family: 'Roboto', sans-serif;
}

/*
--------
COMMON
--------
*/

a {
    text-decoration: none;
    color: currentColor;
}

/*
--------
HEADER
--------
*/

header > div > div {
    height: 4.375rem;
}

header .ms-logo .ms-logo-big {
    width: 7.5rem;
}

header .ms-logo .ms-logo-small {
    width: 3.125rem;
}

header .form-control:focus {
    box-shadow: none;
}

header .ms-header-icons a {
    color: #5b5858
}

header .ms-header-icons .ms-bell {
    color: #ff8f00;
}



/*
--------
MAIN
--------
*/

.ms-container-big {
    height: calc(100vh - 4.375rem);
}

/* Sidebar */

main .ms-sidebar {
    padding: 1.875rem .9375rem 1.875rem .625rem;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    height: 100%;
}

main .ms-sidebar .ms-sidebar-menu {
    list-style-type: none;
    padding: 0;
}   

/* Contenuto principale */

.ms-main-content {
    flex-grow: 1; 
    height: 100%;
    overflow-y: auto;
}

/* Contenuto principale parte superiore */

.ms-upper-main-content {
    background-color: #1b72e8;
}

.ms-upper-main-content i {
    vertical-align: middle;
}

.ms-upper-main-content button {
    border: 1px solid #fff;
    font-size: 1.2rem;
}

/* Contenuto principale parte inferiore */

.ms-lower-main-content .table thead tr th:not(:first-child),
.ms-lower-main-content .table tbody tr td:not(:first-child) {
    text-align: center;
}

.ms-lower-main-content .table tbody img {
    width: 1.875rem;
    background-color: inherit;
}

.ms-lower-main-content .table tbody i {
    width: 1.875rem;
    height: 1.875rem;
    line-height: 1.875rem;
    color: #6c757d;
    border: 1px solid #6c757d;
    border-radius: .3125rem;
}

/*
--------
COMPONENTI
--------
*/

.ms-bg-darkblue {
    background-color: #165bba;
}

@media screen and (min-width:48rem) {
    .offcanvas.show:not(.hiding),
    .offcanvas.showing {
        width: 50rem;
    }
}
